caxton*
oculus.properties
/crash-reports
/logs
fancymenu_data
local
/mods
/tacz*
rhino*
options.txt
xaero*
.vscode
/saves/!Debug
/data
modernfix
usercache.json
usernamecache.json
resourcepacks/!Minecraft-Mod-Language-Modpack-Converted-1.20.1.zip
/backups
screenshots
skyblockbuilder
星际炊事班-natives
.idea
星际炊事班.*
/PCL
/temp